@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "MontserratBold";
  src: url(../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

.mainContent {
  font-family: "Montserrat";
}

.title {
  font-family: "MontserratBold";
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.625rem;
  font-weight: 700;
}

.subtitle {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
  font-weight: normal;
}

.author {
  font-family: "Montserrat";
  font-size: 1.0625rem;
  margin-bottom: 1rem; /* 30px */
  color: #000000;
}

.imageContainer {
  margin-bottom: 1.875rem; /* 30px */
}

.mainImage {
  width: 100%;
  max-width: 56.25rem; /* 900px */
  height: auto;
  border: 0.0625rem solid #ddd;
}

.content {
  font-size: 1rem;
  line-height: 1.6;
}

.content p {
  margin-bottom: 1.25rem;
}

.divider {
  width: 100%;
  height: 0.0625rem;
  background-color: #000000;
  border: none;
  margin: 2.5rem 0;
}

.relatedTitle {
  font-family: "MontserratBold";
  font-size: 1.375rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.2rem;
}

.relatedImages {
  display: flex;
  gap: 3.5rem;
  justify-content: left;
  margin-bottom: 2.5rem;
}

.relatedItem {
  text-decoration: none;
  color: inherit;
  flex: 1;
  max-width: 13.5rem;
}

.relatedImage {
  /* width: 100%; */
  width: 13rem;
  max-width: 13.125rem;
  height: 13rem;

  object-fit: cover;
  border: 0.0625rem solid #ddd;
}

.relatedImages a:nth-child(n + 4) {
  display: none;
}

@media (min-width: 1400px) {
  .relatedImages a:nth-child(4) {
    display: block;
  }
}

@media (min-width: 1600px) {
  .relatedImages a:nth-child(5) {
    display: block;
  }
}

.relatedCaption {
  max-width: 13.5rem;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0.2rem 0 0.2rem 0;
  color: #222;
}

.relatedItem:hover .relatedCaption {
  color: #000;
  text-decoration: underline;
}
